@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .container{
        @apply w-screen md:w-[60%] bg-white mx-auto my-2 h-screen z-0 !important
    }
    .animation{
      @apply transform duration-300 ease-in-out transition-all
    }
}

.ql-toolbar.ql-snow{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 4rem;
    z-index: 1;
    background: #f3f3f3;
    border: none !important;
}

.container{
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    border: 2px solid;
}